
/* RESET ========================================================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

html{
    scroll-behavior: smooth;   
}

html,
body{
    width: 100%;
    height: 100%;
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* GERAL ========================================================*/

:root{
    font-size: 62.5%;  /*1rem = 10px*/

    --title-color: hsla(0, 0%, 0%, 1);
    --secondary-color: hsla(0, 3%, 60%, 1);
    --primary-color: hsla(0, 100%, 50%, 1);

    --background-color:hsl(0, 0%, 90%);

    /*nav heigth*/
    --nav-heigth: 7.2rem;
}


body{
    text-align: center;
}


.container{
    width: min(50rem, 100%);
    padding-inline: 2.4rem;
    margin-inline: auto;
}

section{
    padding-bottom: 5rem ;
}


/* NAV ========================================================*/

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 7.2rem;
    width: 100vw;
    z-index: 10;

    position: relative;
    top: 0;
}

header .menu{
    opacity: 0;
    visibility: hidden;
}


header nav .close-menu{
    position: fixed;
    visibility: hidden;
    opacity: 0;
}

header nav .open-menu{
    background: none;
    border: none;
}

header nav .open-menu path{
    stroke: var(--primary-color);
}

header nav .close-menu path{
    fill: var(--primary-color);
}

header nav .logo svg{
    width: 5.5rem;
}


/*MENU EXPANDED ===============================================*/


body.menu-expanded{
    overflow: hidden;
}

.menu{
    transform: translateY(100%);
    transition: transform 300ms;
}


body.menu-expanded .menu{
    visibility: visible;
    position: fixed;
    opacity: 1;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    transform: translateX(0);
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
}

body.menu-expanded .close-menu{
    visibility: visible;
    opacity: 1;
}

body.menu-expanded .open-menu{
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .close-menu{
    background: none;
    border: none;
    position: relative;
    z-index: 10;
}


body.menu-expanded .logo{
    position: relative;
    z-index: 11;
}

body.menu-expanded .menu ul{
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    margin-top: calc(var(--nav-heigth) + 6rem);
}

body.menu-expanded .menu ul li a{
    font: 700 2.4rem 'Roboto', sans-serif;
    color: var(--title-color);
}


body.menu-expanded .menu .search{
    position: relative;
    width: 22rem;
    height: 5.5rem;
    margin-inline: auto;
}

body.menu-expanded .menu .search input{
    width: 22rem;
    height: 5.5rem;
    margin-inline: auto;
    border: none;
    padding-inline: 4rem;
}


body.menu-expanded .menu .search span::before{
    content: url(../../assets/icon/search.svg);
    position: absolute;
    top: 1.6rem;
    left: 1.2rem;
};





/* HOME ========================================================*/


#home .container{
    padding-top: 2.1rem;
}

#home h1{
    font: 700 4.5rem 'Roboto', sans-serif;
    color: var(--title-color);
}

#home p{
    font: 700 1.6rem 'Roboto', sans-serif;
    color: var(--secondary-color);
    margin-bottom: 2.1rem;
}

#home h2{
    font: 700 3.5rem 'Roboto', sans-serif;
    margin-bottom: 3rem;
}

#home button{
    background-color: var(--primary-color);
    color: white;
    font: 700 2.4rem 'Roboto', sans-serif;

    border: none;

    width: 27.4rem;
    height: 7.2rem;

    margin-inline: auto;
    margin-bottom: 4rem;
}

#home .content{
    background-color: #C4C4C4;;
}

#home .content{
    padding-top: 2rem;
}

#home .content .images{
    display: flex;
    flex-wrap: wrap; 
    gap: 1.5rem;
    padding-inline: 1rem;
    padding-bottom: 2rem;
}

#home .content .images img{
    width: 5%;
    flex-grow: 1;
}

#home .content .images .selected{
    border-bottom: 4px solid var(--primary-color);
}


/* FOOTER ========================================================*/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
}


footer .social-links ul{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-block: 5rem;
}

footer iframe{
    width: 85%;
}

footer .social-links li a{
    font: 700 2.2rem 'Roboto', sans-serif;
    color: var(--title-color);
}

footer .content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20.6rem;
    background-color: var(--title-color);
}

footer .content a{
    font: 700 2.6rem 'Roboto', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
}


/*DESKTOP====================================================================*/

@media (min-width: 1024px) {

    body{
        background-color: #ECECED;
    }
    
    .container{
        width:  min(120rem, 100%);
        padding: 0;
    }

    #home{
        padding-bottom: 0;
    }


    /*NAV================================================================*/

    nav .container *{
        margin: 0;
        padding: 0;
        visibility: initial;

        display: initial;
        opacity: initial;
        flex-direction: initial;
        position: initial;
        transform: initial;
        color: initial;
        background-color: initial;
        filter: initial;
    }

    .open-menu{
        display: none;
    }
    
    
    nav .menu{
        opacity: 1;
        visibility: visible;
        transform: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 7rem;
        width: 88%;
    }

    nav .menu ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7rem;
    }

    nav .menu ul li a{
        font: 700 2.2rem 'Roboto',sans-serif;
        color: var(--title-color);
        text-transform: uppercase;
    }


    nav .menu .search{
        width: 22rem;
        height: 4.5rem;
        position: relative;
    }

    nav .menu .search input{
        width: 22rem;
        height: 4.5rem;
        padding-inline: 3.9rem;
    }

    nav .menu .search input:focus{
        outline-color: var(--primary-color);
    }

    nav .menu .search span::before{
        content: url(/assets/icon/search.svg);
        position: absolute;
        top: 1.1rem;
        left: 1.3rem;
    }



    /*HOME========================================================*/

    #home .container{
        display: grid;
        grid-template-columns: 1fr 75rem;
        grid-template-areas: 'A B';
        gap: 7.2rem;
    }

    #home .container header{
        grid-area: A;
        align-self: center;
        text-align: left;
    }

    #home .container header h1{
        font-size: 6rem;
        margin-bottom: 2.1rem;
    }

    #home .container header p{
        font-size: 1.6rem;
    }

    #home .container header h2{
        font-size: 4rem;
    }
    
    #home .container .content{
        grid-area: B;
        padding-top: 8.7rem;
        padding-bottom: 4.5rem;
        padding-inline: 1.8rem;
        
    }

    #home .content .images{
        padding-bottom: 0;
    }

    /*FOOTER ================================================================*/

    footer .container {
        margin: 0;
        padding: 0;
    }

    footer{
        width: 120rem;
        height: 16.6rem;
        margin-inline: auto;
        display: grid;
        gap: 5rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'A B C';
    }

    footer .container .video{
        grid-area: A;
        margin-inline: 0;
    }

    footer .container .video iframe{
        width: auto;
        height: 16.6rem;
    }

    footer .container .social-links{
        grid-area: B;
    }

    footer .container .social-links ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 5rem;
    }

    footer .container .social-links ul li a{
        font-size: 1.7rem;
    }

    footer .content{
        grid-area: C;
        width: 31.7rem;
        height: 16.6rem;
    }

    footer .content a{
        font-size: 2.4rem;
    }




    

}